# Latest versions that supports Py 3.6
typing-extensions==4.1.1
pytest==7.0.1
pytest-mock==3.6.1
pytest-cov==4.0.0
coverage==6.2
python-dotenv==0.20.0
lz4==3.1.10
bump2version==1.0.1
black==22.8.0
pylint==2.13.9
flake8==5.0.4
isort==5.10.1
autoflake==1.4
pre-commit==4.2.0
bandit==1.7.1
# We can use the most recent compatible version because
# this package is only used for testing compatibility
# with pandas dataframe
pandas>=1.1.5
SQLAlchemy>=1.4.53
